@using IdentityProject.ViewModels
@model SignInVM
@{
    Layout = "_Layout";
}

<form asp-action="SignIn" asp-controller="Auth" method="post" class="p-3 w-50 mx-auto shadow">
    <div class="form-control">
        <div class="mb-3">
            <label>UserName:</label>
            <input asp-for="@Model.UserName" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Password:</label>
            <input asp-for="@Model.Password" class="form-control" />
        </div>
       
        <div class="mt-3 text-danger" asp-validation-summary="ModelOnly">
        </div>

        <button type="submit" class="form-control btn btn-primary">Sign In</button>

    </div>
</form>